@mixin transform($transforms) {
	-webkit-transform: $transforms;
	   -moz-transform: $transforms;
	    -ms-transform: $transforms;
		 -o-transform: $transforms;
          	transform: $transforms;
}

@mixin animation($animations) {
	-webkit-animation: $animations;
	   -moz-animation: $animations;
	    -ms-animation: $animations;
		 -o-animation: $animations;
          	animation: $animations;
}

.background {
	position: absolute;
	width: 600px;
	height: 600px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: black;
	//background-color: #d3d3d3;
	//background-color: white;
}

.svg {
	@include animation(rotating 22s linear infinite);
}

// Safari and Chrome
@-webkit-keyframes rotating {
	from {
		@include transform(rotate(360deg));
	}
	to {
		@include transform(rotate(0deg));
	}
}

@keyframes rotating {
	from {
		@include transform(rotate(360deg));
	}
	to {
		@include transform(rotate(0deg));
	}
}